*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: right;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color:white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -30%;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
nav ul li a:hover{
    background: rgba(255,255,255,0.2);
    border-style: solid;
    border-color: white;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 100px;
    transition: .3s;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
}
#about{
    padding-top: 30px;
}
.about-col-1 img{
    flex-basis: 35%;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    width: 400px;
    height: 600px;
    border-radius: 10px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 50px;
    font-weight: 600;
    color: white;
    padding-bottom: 3%;
}
.about-col-2 p{
    font-size: 20px;
}
.indicator{
    position: relative;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 10%;
}
.indicator span{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    border: none;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    animation: animate 1s linear infinite;
}
.indicator span:nth-child(1){
    top: 30px;
    left:30px;
    animation-delay: 0.2s;
}
.indicator span:nth-child(2){
    top: 60px;
    left:60px;
    animation-delay: 0.4s;
}
@keyframes animate {
    0%{
        border-color: #fff;
    }
    20%{
        border-color: #fff;
    }
    20.1%,100%{
        border-color: #222;
    }
}
#portfolio{
    padding: 50px 0;
}
.sub-title{
    padding-bottom: 0;
    text-align: center;
    padding-bottom: 20px;
}
.sub-title h2{
    padding-top: 5px;
    font-size: 10px;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 48px;
    margin-top: 50px;
}
.work-list{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work-list img{
    width: 100%;
    border-radius: 10px;
    display: block;
    height: auto;
}
.work-list img:hover{
    border-color: white;
    border-style: solid;
}
.work-text{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
.work-text h2{
    font-size: 25px;
    text-decoration: underline;
    padding-bottom: 10px;
}
.work-text p{
    margin-bottom: 30px;
    padding: 10px 10px;
}
.work-text a{
    padding: 15px 25px;
    text-decoration: none;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    font-size: 17px;
}
#cat{
    font-size: 19px;
    text-decoration: none;
    margin-top: 5%;
}
.work-text a:hover{
    border-color: #ff004f;
    color: #ff004f;
    transition: .3s;
}
.link{
    margin-top: 0;
}
.upsub{
    display: none;
}
#contact{
    margin-bottom: 30px;
    margin-top: 5%;
}
.Contact-info{
    text-align: center;
    padding: 5%;
    border-style: solid;
    border-color: #ff004f;
}
.links{
    display: inline-flex;
    list-style: none;
    color: white;
}
.links a{
    text-decoration: none;
    padding-left: 10px;
    padding-top: 10px;
    list-style: none;
    color: white;
    font-size: 20px;
}
.links a:hover{
    color: #ff004f;
}
footer{
    text-align: center;
    font-size: 8px;
    color: white;
    margin-bottom: 30px;
    font-family: 'Poppins';
}

nav .fa-solid{
    display: none;
}
@media only screen and (max-width: 776px){
    .container{
        padding-left: 10px;
        padding-right: 10px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100%;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    nav ul li a::after{
        content: '';
        width: 0;
        height: 3px;
        background: white;
        position: absolute;
        left: 0;
        bottom: -30%;
        transition: 0.5s;
    }
    nav ul li a:hover::after{
        width: 100%;
    }
    nav ul li a:hover{
        background: rgba(255,255,255,0.2);
        border-style: solid;
        border-color: white;
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 100px;
        transition: .3s;
    }
    .upsub{
        display: block;
        font-size: 50px;
        font-weight: 600;
        color: white;
        padding-bottom: 3%;
        padding-left: 0;
        padding-right: 0;
    }
    #aboutme{
        display: none;
    }
    .about-col-1{
        padding-bottom: 10px;
    }
    .row{
        display: block;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        padding-bottom: 50px;
    }
    .about-col-1 img{
        border-style: solid;
        border-color: white;
        border-radius: 10px;
        width: 100%;
        height: 600px;
        border-radius: 10px;
    }
    .about-col-2{
        display: block;
    }
    .indicator{
        margin-left: 0;
        margin-right: 0;
        margin-top: 10%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    #container{
        margin-top: 10px;
        display:block;
        justify-content: center;
        align-items: center;
    }
    .proj{
        display: block;
    }
    #contact{
        text-align: center;
    }
    .Contact-info{
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
        border-style: solid;
        border-color: #ff004f;
    }
}
